@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
  font-size: 15px;
}

.wrapper {
  width: 98%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 88px 24px;
  background-color: var(--very-light-gray);
}

.cards {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 445px;
  justify-content: space-around;
  color: var(--very-light-gray);
  padding: 48px;
}

.card__icon {
  width: 65px;
}

.card__title {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.card__desc {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 500;
  color: var(--transparent-white);
  line-height: 1.5rem;
}

.card__button {
  border-radius: 25px;
  height: 48px;
  width: 150px;
  background-color: var(--very-light-gray);
  border: none;
}

.card__button:hover {
  background-color: transparent;
  border: 1px solid var(--transparent-white);
  color: var(--transparent-white);
  cursor: pointer;
}

#sedan {
  background-color: var(--bright-orange);
  border-radius: 8px 8px 0 0;
}

#suv {
  background-color: var(--dark-cyan);
}

#luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 8px 8px;
}

.orange {
  color: var(--bright-orange)
}

.cyan {
  color: var(--dark-cyan);
}

.dark-cyan {
  color: var(--very-dark-cyan);
}

@media (min-width: 1440px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-light-gray);
  }

  .cards {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 305px;
    height: 500px;
  }

  .card__title {

    font-size: 3rem;
  }

  #sedan {
    border-radius: 8px 0 0 8px;
  }

  #luxury {
    border-radius: 0 8px 8px 0;
  }
}